In [1]:
import pandas as pd

In [2]:
people = {
    "first" : ["Lalit", "Suraj", "Ankit", "Vikash", "Shohel"],
    "last" : ["Siraswa", "Dhadeech", "Verma", "Tawar", "Khan"],
    "email" : ["lalitsiraswa@gmail.com", "surajdhadeech@gmail.com", "ankitverma@gmail.com", "vikashtawar@gmail.com", "shohelkhan@gmail.com"]
}

In [3]:
print(people["first"])
print(people["last"])
print(people["email"])

['Lalit', 'Suraj', 'Ankit', 'Vikash', 'Shohel']
['Siraswa', 'Dhadeech', 'Verma', 'Tawar', 'Khan']
['lalitsiraswa@gmail.com', 'surajdhadeech@gmail.com', 'ankitverma@gmail.com', 'vikashtawar@gmail.com', 'shohelkhan@gmail.com']

In [4]:
df = pd.DataFrame(data = people)
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [5]:
print(df["first"], "\n")
print(df["last"], "\n")
print(df["email"], "\n")

0     Lalit
1     Suraj
2     Ankit
3    Vikash
4    Shohel
Name: first, dtype: object

0     Siraswa
1    Dhadeech
2       Verma
3       Tawar
4        Khan
Name: last, dtype: object

0     lalitsiraswa@gmail.com
1    surajdhadeech@gmail.com
2       ankitverma@gmail.com
3      vikashtawar@gmail.com
4       shohelkhan@gmail.com
Name: email, dtype: object

In [6]:
print(df.loc[2]["first"], "\n")
print(df.loc[2]["last"], "\n")
print(df.loc[2]["email"], "\n")

Ankit

Verma

ankitverma@gmail.com

In [7]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [8]:
print(df.loc[2 : ])

    first   last                  email
2   Ankit  Verma   ankitverma@gmail.com
3  Vikash  Tawar  vikashtawar@gmail.com
4  Shohel   Khan   shohelkhan@gmail.com

In [9]:
print(df.loc[1 : 3]["first"])

1     Suraj
2     Ankit
3    Vikash
Name: first, dtype: object

In [10]:
print(df["first"], "\n")
print(df["last"], "\n")
print(df["email"], "\n")

print(type(df["first"]), "\n")
print(type(df["last"]), "\n")
print(type(df["email"]), "\n")

0     Lalit
1     Suraj
2     Ankit
3    Vikash
4    Shohel
Name: first, dtype: object

0     Siraswa
1    Dhadeech
2       Verma
3       Tawar
4        Khan
Name: last, dtype: object

0     lalitsiraswa@gmail.com
1    surajdhadeech@gmail.com
2       ankitverma@gmail.com
3      vikashtawar@gmail.com
4       shohelkhan@gmail.com
Name: email, dtype: object

<class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

<class 'pandas.core.series.Series'>

In [11]:
print(df[["first", "email"]])

    first                    email
0   Lalit   lalitsiraswa@gmail.com
1   Suraj  surajdhadeech@gmail.com
2   Ankit     ankitverma@gmail.com
3  Vikash    vikashtawar@gmail.com
4  Shohel     shohelkhan@gmail.com

In [12]:
print(df.index, "\n")
print(df.columns, "\n")

RangeIndex(start=0, stop=5, step=1)

Index(['first', 'last', 'email'], dtype='object')

In [13]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [14]:
print(df.loc[0], "\n")
print(type(df.loc[1]), "\n")
print(df.loc[3], "\n")
print(df.loc[4], "\n")

first                     Lalit
last                    Siraswa
email    lalitsiraswa@gmail.com
Name: 0, dtype: object

<class 'pandas.core.series.Series'>

first                   Vikash
last                     Tawar
email    vikashtawar@gmail.com
Name: 3, dtype: object

first                  Shohel
last                     Khan
email    shohelkhan@gmail.com
Name: 4, dtype: object

In [15]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [16]:
print(type(df.iloc[0]), "\n")
print(df.iloc[0], "\n")
print(df.iloc[1], "\n")
print(df.iloc[2], "\n")
print(df.iloc[3], "\n")
print(df.iloc[4], "\n")

<class 'pandas.core.series.Series'>

first                     Lalit
last                    Siraswa
email    lalitsiraswa@gmail.com
Name: 0, dtype: object

first                      Suraj
last                    Dhadeech
email    surajdhadeech@gmail.com
Name: 1, dtype: object

first                   Ankit
last                    Verma
email    ankitverma@gmail.com
Name: 2, dtype: object

first                   Vikash
last                     Tawar
email    vikashtawar@gmail.com
Name: 3, dtype: object

first                  Shohel
last                     Khan
email    shohelkhan@gmail.com
Name: 4, dtype: object

In [17]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [18]:
print(df.iloc[[0, 2]])

   first     last                   email
0  Lalit  Siraswa  lalitsiraswa@gmail.com
2  Ankit    Verma    ankitverma@gmail.com

In [19]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [20]:
print(df.iloc[0], "\n")
print(df["first"], "\n")

first                     Lalit
last                    Siraswa
email    lalitsiraswa@gmail.com
Name: 0, dtype: object

0     Lalit
1     Suraj
2     Ankit
3    Vikash
4    Shohel
Name: first, dtype: object

In [21]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [22]:
print(df.loc[0], "\n")
print(df.loc[0]["email"], "\n")

first                     Lalit
last                    Siraswa
email    lalitsiraswa@gmail.com
Name: 0, dtype: object

lalitsiraswa@gmail.com

In [23]:
print(df.iloc[[0, 1], 2], "\n")
print(df.iloc[[0, 1]]["email"], "\n")

0     lalitsiraswa@gmail.com
1    surajdhadeech@gmail.com
Name: email, dtype: object

0     lalitsiraswa@gmail.com
1    surajdhadeech@gmail.com
Name: email, dtype: object

In [24]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [25]:
print(df.iloc[0, 0], "\n")
print(df.iloc[1, 0], "\n")
print(df.iloc[2, 0], "\n")
print(df.iloc[3, 0], "\n")
print(df.iloc[4, 0], "\n")

Lalit

Suraj

Ankit

Vikash

Shohel

In [26]:
df

    first      last                    email
0   Lalit   Siraswa   lalitsiraswa@gmail.com
1   Suraj  Dhadeech  surajdhadeech@gmail.com
2   Ankit     Verma     ankitverma@gmail.com
3  Vikash     Tawar    vikashtawar@gmail.com
4  Shohel      Khan     shohelkhan@gmail.com

In [27]:
print(df.iloc[0 : , 0], "\n")
print(df.iloc[0 : , 2], "\n")
print(df.iloc[0 : , [0, 2]], "\n")

0     Lalit
1     Suraj
2     Ankit
3    Vikash
4    Shohel
Name: first, dtype: object

0     lalitsiraswa@gmail.com
1    surajdhadeech@gmail.com
2       ankitverma@gmail.com
3      vikashtawar@gmail.com
4       shohelkhan@gmail.com
Name: email, dtype: object

    first                    email
0   Lalit   lalitsiraswa@gmail.com
1   Suraj  surajdhadeech@gmail.com
2   Ankit     ankitverma@gmail.com
3  Vikash    vikashtawar@gmail.com
4  Shohel     shohelkhan@gmail.com

In [28]:
df = pd.DataFrame(data = people, index = ['a', 'b', 'c', 'd', 'e'])
df

    first      last                    email
a   Lalit   Siraswa   lalitsiraswa@gmail.com
b   Suraj  Dhadeech  surajdhadeech@gmail.com
c   Ankit     Verma     ankitverma@gmail.com
d  Vikash     Tawar    vikashtawar@gmail.com
e  Shohel      Khan     shohelkhan@gmail.com

In [29]:
print(df.loc['a', "first"])
print(df.loc['a'][0], "\n")

Lalit
Lalit

In [30]:
df

    first      last                    email
a   Lalit   Siraswa   lalitsiraswa@gmail.com
b   Suraj  Dhadeech  surajdhadeech@gmail.com
c   Ankit     Verma     ankitverma@gmail.com
d  Vikash     Tawar    vikashtawar@gmail.com
e  Shohel      Khan     shohelkhan@gmail.com

In [31]:
print(df.loc["a" :, ["first", "email"]])

    first                    email
a   Lalit   lalitsiraswa@gmail.com
b   Suraj  surajdhadeech@gmail.com
c   Ankit     ankitverma@gmail.com
d  Vikash    vikashtawar@gmail.com
e  Shohel     shohelkhan@gmail.com

In [32]:
print(df.iloc[0]["last"], "\n")
print(df.iloc[0, 1])

Siraswa

Siraswa

In [33]:
people = {
    "first" : ["Lalit", "Suraj", "Ankit", "Vikash", "Shohel"],
    "last" : ["Siraswa", "Dhadeech", "Verma", "Tawar", "Khan"],
    "email" : ["lalitsiraswa@gmail.com", "surajdhadeech@gmail.com", "ankitverma@gmail.com", "vikashtawar@gmail.com", "shohelkhan@gmail.com"]
}

In [34]:
df = pd.DataFrame(data = people, index = people["email"])
# df.set_index("email")
df.set_index("email", inplace = True)
df

                          first      last
email
lalitsiraswa@gmail.com    Lalit   Siraswa
surajdhadeech@gmail.com   Suraj  Dhadeech
ankitverma@gmail.com      Ankit     Verma
vikashtawar@gmail.com    Vikash     Tawar
shohelkhan@gmail.com     Shohel      Khan

In [35]:
print(df.index, "\n")
print(df.columns, "\n")

Index(['lalitsiraswa@gmail.com', 'surajdhadeech@gmail.com',
       'ankitverma@gmail.com', 'vikashtawar@gmail.com',
       'shohelkhan@gmail.com'],
      dtype='object', name='email')

Index(['first', 'last'], dtype='object')

In [36]:
print(df.loc['lalitsiraswa@gmail.com'], "\n")
print(df.loc["surajdhadeech@gmail.com"], "\n")
print(df.loc["ankitverma@gmail.com"], "\n")
print(df.loc["lalitsiraswa@gmail.com", "first"], "\n")
print(df.loc["surajdhadeech@gmail.com"][0], "\n")

first      Lalit
last     Siraswa
Name: lalitsiraswa@gmail.com, dtype: object

first       Suraj
last     Dhadeech
Name: surajdhadeech@gmail.com, dtype: object

first    Ankit
last     Verma
Name: ankitverma@gmail.com, dtype: object

Lalit

Suraj

In [37]:
print(df.iloc[0], "\n")
print(df.iloc[1, 0], "\n")
print(df.iloc[2]["first"])

first      Lalit
last     Siraswa
Name: lalitsiraswa@gmail.com, dtype: object

Suraj

Ankit

In [38]:
df.reset_index(inplace = True)
df

                     email   first      last
0   lalitsiraswa@gmail.com   Lalit   Siraswa
1  surajdhadeech@gmail.com   Suraj  Dhadeech
2     ankitverma@gmail.com   Ankit     Verma
3    vikashtawar@gmail.com  Vikash     Tawar
4     shohelkhan@gmail.com  Shohel      Khan

In [39]:
df.sort_values("first", inplace = True)
df

                     email   first      last
2     ankitverma@gmail.com   Ankit     Verma
0   lalitsiraswa@gmail.com   Lalit   Siraswa
4     shohelkhan@gmail.com  Shohel      Khan
1  surajdhadeech@gmail.com   Suraj  Dhadeech
3    vikashtawar@gmail.com  Vikash     Tawar

In [40]:
# df.sort_values("first", ascending = False)

In [41]:
# df.sort_index(ascending = False)

In [42]:
people = {
    "first" : ["Lalit", "Suraj", "Ankit", "Vikash", "Shohel"],
    "last" : ["Siraswa", "Siraswa", "Verma", "Tawar", "Khan"],
    "email" : ["lalitsiraswa@gmail.com", "surajdhadeech@gmail.com", "ankitverma@gmail.com", "vikashtawar@gmail.com", "shohelkhan@gmail.com"]
}

In [43]:
df = pd.DataFrame(data = people)
df

    first     last                    email
0   Lalit  Siraswa   lalitsiraswa@gmail.com
1   Suraj  Siraswa  surajdhadeech@gmail.com
2   Ankit    Verma     ankitverma@gmail.com
3  Vikash    Tawar    vikashtawar@gmail.com
4  Shohel     Khan     shohelkhan@gmail.com

In [44]:
print(df["last"] == "Siraswa", "\n")
print(df[df["last"] == "Siraswa"])

0     True
1     True
2    False
3    False
4    False
Name: last, dtype: bool

   first     last                    email
0  Lalit  Siraswa   lalitsiraswa@gmail.com
1  Suraj  Siraswa  surajdhadeech@gmail.com

In [45]:
filt = df["last"] == "Verma"
print(type(filt), "\n")
print(filt, "\n")
print(df[filt], "\n")
print(df.get(filt))

<class 'pandas.core.series.Series'>

0    False
1    False
2     True
3    False
4    False
Name: last, dtype: bool

   first   last                 email
2  Ankit  Verma  ankitverma@gmail.com

   first   last                 email
2  Ankit  Verma  ankitverma@gmail.com

In [46]:
filt = (df["last"] == "Siraswa")
print(filt, "\n")
print(df[filt], "\n")
print(df.get(filt), "\n")

0     True
1     True
2    False
3    False
4    False
Name: last, dtype: bool

   first     last                    email
0  Lalit  Siraswa   lalitsiraswa@gmail.com
1  Suraj  Siraswa  surajdhadeech@gmail.com

   first     last                    email
0  Lalit  Siraswa   lalitsiraswa@gmail.com
1  Suraj  Siraswa  surajdhadeech@gmail.com

In [51]:
print(df.loc[filt], "\n")
print(df.loc[filt]["first"], "\n")
print(df.loc[filt, "first"])

   first     last                    email
0  Lalit  Siraswa   lalitsiraswa@gmail.com
1  Suraj  Siraswa  surajdhadeech@gmail.com

0    Lalit
1    Suraj
Name: first, dtype: object

0    Lalit
1    Suraj
Name: first, dtype: object

In [52]:
df

    first     last                    email
0   Lalit  Siraswa   lalitsiraswa@gmail.com
1   Suraj  Siraswa  surajdhadeech@gmail.com
2   Ankit    Verma     ankitverma@gmail.com
3  Vikash    Tawar    vikashtawar@gmail.com
4  Shohel     Khan     shohelkhan@gmail.com

In [62]:
print(df.loc[0, "first"], "\n")
print(df.loc[0]["first"], "\n")
print(df.loc[0][0], "\n")
print(df.iloc[0, 0], "\n")
print(df.iloc[0][0], "\n")
print(df.iloc[0]["first"], "\n")

Lalit

Lalit

Lalit

Lalit

Lalit

Lalit

In [63]:
df

    first     last                    email
0   Lalit  Siraswa   lalitsiraswa@gmail.com
1   Suraj  Siraswa  surajdhadeech@gmail.com
2   Ankit    Verma     ankitverma@gmail.com
3  Vikash    Tawar    vikashtawar@gmail.com
4  Shohel     Khan     shohelkhan@gmail.com

In [73]:
filt = df["last"] == "Siraswa"
print(filt, "\n")
print(type(filt), "\n")
print(df.loc[filt], "\n")
print(df.loc[filt, "first"], "\n")

0     True
1     True
2    False
3    False
4    False
Name: last, dtype: bool

<class 'pandas.core.series.Series'>

   first     last                    email
0  Lalit  Siraswa   lalitsiraswa@gmail.com
1  Suraj  Siraswa  surajdhadeech@gmail.com

0    Lalit
1    Suraj
Name: first, dtype: object

In [81]:
filt = (df["last"] == "Siraswa") & (df["first"] == "Suraj")
print(filt, "\n")
print(df[filt], "\n")
print(df.loc[filt], "\n")
print(df.loc[filt, "first"], "\n")
print(df.loc[filt]["first"], "\n")

0    False
1     True
2    False
3    False
4    False
dtype: bool

   first     last                    email
1  Suraj  Siraswa  surajdhadeech@gmail.com

   first     last                    email
1  Suraj  Siraswa  surajdhadeech@gmail.com

1    Suraj
Name: first, dtype: object

1    Suraj
Name: first, dtype: object

In [89]:
filt = (df["first"] == "Lalit") | (df["last"] == "Siraswa")
print(filt, "\n")
print(df[filt], "\n")
print(df.loc[filt], "\n")
print(df.loc[filt, "email"], "\n")
print(df.loc[filt]["email"], "\n")

0     True
1     True
2    False
3    False
4    False
dtype: bool

   first     last                    email
0  Lalit  Siraswa   lalitsiraswa@gmail.com
1  Suraj  Siraswa  surajdhadeech@gmail.com

   first     last                    email
0  Lalit  Siraswa   lalitsiraswa@gmail.com
1  Suraj  Siraswa  surajdhadeech@gmail.com

0     lalitsiraswa@gmail.com
1    surajdhadeech@gmail.com
Name: email, dtype: object

0     lalitsiraswa@gmail.com
1    surajdhadeech@gmail.com
Name: email, dtype: object

In [102]:
filt = (df["last"] == "Siraswa")
print(df.loc[~filt], "\n")
print(df[~filt], "\n")

    first   last                  email
2   Ankit  Verma   ankitverma@gmail.com
3  Vikash  Tawar  vikashtawar@gmail.com
4  Shohel   Khan   shohelkhan@gmail.com

    first   last                  email
2   Ankit  Verma   ankitverma@gmail.com
3  Vikash  Tawar  vikashtawar@gmail.com
4  Shohel   Khan   shohelkhan@gmail.com