In [1]:
import numpy as np
import pandas as pd

In [15]:
A = [0, 1, 2, 3]
B = [4, 5, 6, 7]
C = [8, 9, 0, 1]
D = [2, 3, 4, 5]
E = [6, 7, 8, 9]
F = [0, 1, 2, 3]

In [21]:
df = pd.DataFrame(data = [A, B, C, D, E, F], index = ['A', 'B', 'C', 'D', 'E', 'F'], columns = ['a', 'b', 'c', 'd'])
df['e'] = df["a"] + df["b"]
df["f"] = df["c"] + df["d"]
df

   a  b  c  d   e   f
A  0  1  2  3   1   5
B  4  5  6  7   9  13
C  8  9  0  1  17   1
D  2  3  4  5   5   9
E  6  7  8  9  13  17
F  0  1  2  3   1   5

In [22]:
print(df["a"])
print(df[["a", "c", "e"]])

A    0
B    4
C    8
D    2
E    6
F    0
Name: a, dtype: int64
   a  c   e
A  0  2   1
B  4  6   9
C  8  0  17
D  2  4   5
E  6  8  13
F  0  2   1

In [24]:
df

   a  b  c  d   e   f
A  0  1  2  3   1   5
B  4  5  6  7   9  13
C  8  9  0  1  17   1
D  2  3  4  5   5   9
E  6  7  8  9  13  17
F  0  1  2  3   1   5

In [38]:
print(df.loc["A"], "\n")
print(df.loc[["A", "C", "E"]], "\n")
print(df.iloc[0], "\n")
print(df.iloc[[0, 2, 4]])

a    0
b    1
c    2
d    3
e    1
f    5
Name: A, dtype: int64

   a  b  c  d   e   f
A  0  1  2  3   1   5
C  8  9  0  1  17   1
E  6  7  8  9  13  17

a    0
b    1
c    2
d    3
e    1
f    5
Name: A, dtype: int64

   a  b  c  d   e   f
A  0  1  2  3   1   5
C  8  9  0  1  17   1
E  6  7  8  9  13  17

In [39]:
df

   a  b  c  d   e   f
A  0  1  2  3   1   5
B  4  5  6  7   9  13
C  8  9  0  1  17   1
D  2  3  4  5   5   9
E  6  7  8  9  13  17
F  0  1  2  3   1   5

In [46]:
print(df.loc["D", "d"])
print(df.loc["E", "d"])
print(df.loc["C", "e"])
print(df.loc["C", "c"])
print(df.loc["D", "f"])
print(df.loc["F"]["d"])

5
9
17
0
9
3

In [50]:
print(df.iloc[0][5])
print(df.iloc[3][2])
print(df.iloc[4, 4])

5
4
13