In [2]:
import numpy as np
import pandas as pd

In [3]:
p = {"items" : ["apple", "apple", "orange", "orange", "guns", "guns", "guns"], "days" : ["mon", "tue", "wen", "thu", "fri", "sat", "sun"], "sales" : [100, 80, 200, 100, 5, 10, 5]}

In [4]:
p

{'items': ['apple', 'apple', 'orange', 'orange', 'guns', 'guns', 'guns'],
 'days': ['mon', 'tue', 'wen', 'thu', 'fri', 'sat', 'sun'],
 'sales': [100, 80, 200, 100, 5, 10, 5]}

In [5]:
df = pd.DataFrame(data = p)
df

    items days  sales
0   apple  mon    100
1   apple  tue     80
2  orange  wen    200
3  orange  thu    100
4    guns  fri      5
5    guns  sat     10
6    guns  sun      5

In [6]:
x = df.groupby("items")
for i in x:
    print(i, "\n")
print("---------------")    
x = df.groupby("days")
for i in x:
    print(i, end = "\n\n")
print("---------------")    
x = df.groupby("sales")
for i in x:
    print(i, end = "\n\n")

('apple',    items days  sales
0  apple  mon    100
1  apple  tue     80)

('guns',   items days  sales
4  guns  fri      5
5  guns  sat     10
6  guns  sun      5)

('orange',     items days  sales
2  orange  wen    200
3  orange  thu    100)

---------------
('fri',   items days  sales
4  guns  fri      5)

('mon',    items days  sales
0  apple  mon    100)

('sat',   items days  sales
5  guns  sat     10)

('sun',   items days  sales
6  guns  sun      5)

('thu',     items days  sales
3  orange  thu    100)

('tue',    items days  sales
1  apple  tue     80)

('wen',     items days  sales
2  orange  wen    200)

---------------
(5,   items days  sales
4  guns  fri      5
6  guns  sun      5)

(10,   items days  sales
5  guns  sat     10)

(80,    items days  sales
1  apple  tue     80)

(100,     items days  sales
0   apple  mon    100
3  orange  thu    100)

(200,     items days  sales
2  orange  wen    200)

In [41]:
x = df.groupby("items")
print(df)
print(x.mean(), "\n")
print(x.max(), "\n")
print(x.min(), "\n")
print(x.sum(), "\n")
print(x.count(), "\n")
print(x.describe(), "\n")

    items days  sales
0   apple  mon    100
1   apple  tue     80
2  orange  wen    200
3  orange  thu    100
4    guns  fri      5
5    guns  sat     10
6    guns  sun      5
             sales
items
apple    90.000000
guns      6.666667
orange  150.000000

       days  sales
items
apple   tue    100
guns    sun     10
orange  wen    200

       days  sales
items
apple   mon     80
guns    fri      5
orange  thu    100

        sales
items
apple     180
guns       20
orange    300

        days  sales
items
apple      2      2
guns       3      3
orange     2      2

       sales
       count        mean        std    min    25%    50%    75%    max
items
apple    2.0   90.000000  14.142136   80.0   85.0   90.0   95.0  100.0
guns     3.0    6.666667   2.886751    5.0    5.0    5.0    7.5   10.0
orange   2.0  150.000000  70.710678  100.0  125.0  150.0  175.0  200.0

In [64]:
print(x.describe().T, '\n')
print(x.describe().transpose())

items             apple       guns      orange
sales count    2.000000   3.000000    2.000000
      mean    90.000000   6.666667  150.000000
      std     14.142136   2.886751   70.710678
      min     80.000000   5.000000  100.000000
      25%     85.000000   5.000000  125.000000
      50%     90.000000   5.000000  150.000000
      75%     95.000000   7.500000  175.000000
      max    100.000000  10.000000  200.000000

items             apple       guns      orange
sales count    2.000000   3.000000    2.000000
      mean    90.000000   6.666667  150.000000
      std     14.142136   2.886751   70.710678
      min     80.000000   5.000000  100.000000
      25%     85.000000   5.000000  125.000000
      50%     90.000000   5.000000  150.000000
      75%     95.000000   7.500000  175.000000
      max    100.000000  10.000000  200.000000