In [1]:
import numpy as np
import pandas as pd

In [2]:
A = ['A', 'B', 'C', 'D']
B = ['E', 'F', 'G', 'H']
C = ['I', 'J', 'K', 'L']
D = ['M', 'N', 'O', 'P']
E = ['Q', 'R', 'S', 'T']
F = ['U', 'V', 'W', 'X']

In [6]:
df = pd.DataFrame([A, B, C, D, E, F], [10, 20, 30, 40, 50, 60], ['a', 'b', 'c', 'd'])

In [7]:
df

    a  b  c  d
10  A  B  C  D
20  E  F  G  H
30  I  J  K  L
40  M  N  O  P
50  Q  R  S  T
60  U  V  W  X

In [8]:
print("\U0001f600")

ðŸ˜€

In [ ]:
print()