In [1]:
import numpy as np
import pandas as pd

In [11]:
x1 = {'a' : [1, 2, 3], 'b' : [5, 6, 7]}
y1 = {'e' : [3, 4, 5], 'd' : [2, 3, 6]}

x = pd.DataFrame(data = x1, index = ['p1', 'p2', 'p3'])
y = pd.DataFrame(data = y1, index = ['p1', 'p2', 'p3'])
print(x, "\n")
print(y)

    a  b
p1  1  5
p2  2  6
p3  3  7

    e  d
p1  3  2
p2  4  3
p3  5  6

In [12]:
x.join(y)

    a  b  e  d
p1  1  5  3  2
p2  2  6  4  3
p3  3  7  5  6

In [19]:
print(x.join(other = y, how = "left"), "\n")
print(x.join(other = y, how = "right"), "\n")
print(x.join(other = y, how = "inner"), "\n")
print(x.join(other = y, how = "outer"), "\n")

    a  b  e  d
p1  1  5  3  2
p2  2  6  4  3
p3  3  7  5  6

    a  b  e  d
p1  1  5  3  2
p2  2  6  4  3
p3  3  7  5  6

    a  b  e  d
p1  1  5  3  2
p2  2  6  4  3
p3  3  7  5  6

    a  b  e  d
p1  1  5  3  2
p2  2  6  4  3
p3  3  7  5  6

In [28]:
x1 = {'a' : [1, 2, 3], 'b' : [5, 6, 7], 'c' : [8, 9, 10]}
y1 = {'e' : [3, 4, 5], 'd' : [2, 3, 6], 'f' : [0, 4, 7]}

x = pd.DataFrame(data = x1, index = ['p1', 'p2', 'p3'])
y = pd.DataFrame(data = y1, index = ['p4', 'p5', 'p6'])
print(x, "\n") 
print(y)

    a  b   c
p1  1  5   8
p2  2  6   9
p3  3  7  10

    e  d  f
p4  3  2  0
p5  4  3  4
p6  5  6  7

In [36]:
print(x.join(other = y, how = "outer"), "\n")

print(x.join(other = y, how = "left"), "\n")

print(x.join(other = y, how = "right"), "\n")

print(x.join(other = y, how = "inner"), "\n")

      a    b     c    e    d    f
p1  1.0  5.0   8.0  NaN  NaN  NaN
p2  2.0  6.0   9.0  NaN  NaN  NaN
p3  3.0  7.0  10.0  NaN  NaN  NaN
p4  NaN  NaN   NaN  3.0  2.0  0.0
p5  NaN  NaN   NaN  4.0  3.0  4.0
p6  NaN  NaN   NaN  5.0  6.0  7.0

    a  b   c   e   d   f
p1  1  5   8 NaN NaN NaN
p2  2  6   9 NaN NaN NaN
p3  3  7  10 NaN NaN NaN

     a   b   c  e  d  f
p4 NaN NaN NaN  3  2  0
p5 NaN NaN NaN  4  3  4
p6 NaN NaN NaN  5  6  7

Empty DataFrame
Columns: [a, b, c, e, d, f]
Index: []