In [86]:
import numpy as np
import pandas as pd

In [87]:
df1 = pd.DataFrame(data = {'key1' : [1, 2, 3], 'a' : [2, 3, 4], 'b' : [5, 6, 7]})
df2 = pd.DataFrame(data = {'key1' : [1, 2, 4], 'c' : [1, 2, 9], 'd' : [5, 8, 7]})
print(df1, "\n")
print(df2)

   key1  a  b
0     1  2  5
1     2  3  6
2     3  4  7

   key1  c  d
0     1  1  5
1     2  2  8
2     4  9  7

In [88]:
print(pd.merge(left = df1, right = df2),"\n")
print(pd.merge(left = df1, right = df2, how = "left"), "\n")
print(pd.merge(left = df1, right = df2, how = "right"), "\n")
print(pd.merge(left = df1, right = df2, how = "outer"), "\n")
print(pd.merge(left = df1, right = df2, how = "inner"), "\n")

   key1  a  b  c  d
0     1  2  5  1  5
1     2  3  6  2  8

   key1  a  b    c    d
0     1  2  5  1.0  5.0
1     2  3  6  2.0  8.0
2     3  4  7  NaN  NaN

   key1    a    b  c  d
0     1  2.0  5.0  1  5
1     2  3.0  6.0  2  8
2     4  NaN  NaN  9  7

   key1    a    b    c    d
0     1  2.0  5.0  1.0  5.0
1     2  3.0  6.0  2.0  8.0
2     3  4.0  7.0  NaN  NaN
3     4  NaN  NaN  9.0  7.0

   key1  a  b  c  d
0     1  2  5  1  5
1     2  3  6  2  8

In [89]:
print(pd.merge(left = df1, right = df2, on = "key1"),"\n")
print(pd.merge(left = df1, right = df2, how = "left", on = "key1"), "\n")
print(pd.merge(left = df1, right = df2, how = "right", on = "key1"), "\n")
print(pd.merge(left = df1, right = df2, how = "outer", on = "key1"), "\n")
print(pd.merge(left = df1, right = df2, how = "inner", on = "key1"), "\n")

   key1  a  b  c  d
0     1  2  5  1  5
1     2  3  6  2  8

   key1  a  b    c    d
0     1  2  5  1.0  5.0
1     2  3  6  2.0  8.0
2     3  4  7  NaN  NaN

   key1    a    b  c  d
0     1  2.0  5.0  1  5
1     2  3.0  6.0  2  8
2     4  NaN  NaN  9  7

   key1    a    b    c    d
0     1  2.0  5.0  1.0  5.0
1     2  3.0  6.0  2.0  8.0
2     3  4.0  7.0  NaN  NaN
3     4  NaN  NaN  9.0  7.0

   key1  a  b  c  d
0     1  2  5  1  5
1     2  3  6  2  8

In [90]:
df1 = pd.DataFrame(data = {'key1' : [1, 2, 3], 'a' : [2, 3, 4], 'b' : [5, 6, 7], 'key2' : [5, 2, 3]})
df2 = pd.DataFrame(data = {'key1' : [1, 2, 4], 'c' : [1, 2, 9], 'd' : [5, 8, 7], 'key2' : [5, 2, 3]})
print(df1, "\n")
print(df2)

   key1  a  b  key2
0     1  2  5     5
1     2  3  6     2
2     3  4  7     3

   key1  c  d  key2
0     1  1  5     5
1     2  2  8     2
2     4  9  7     3

In [91]:
print(pd.merge(left = df1, right = df2), "\n")
print(pd.merge(left = df1, right = df2, how = "left"), "\n")
print(pd.merge(left = df1, right = df2, how = "right"), "\n")
print(pd.merge(left = df1, right = df2, how = "outer"), "\n")
print(pd.merge(left = df1, right = df2, how = "inner"), "\n")

   key1  a  b  key2  c  d
0     1  2  5     5  1  5
1     2  3  6     2  2  8

   key1  a  b  key2    c    d
0     1  2  5     5  1.0  5.0
1     2  3  6     2  2.0  8.0
2     3  4  7     3  NaN  NaN

   key1    a    b  key2  c  d
0     1  2.0  5.0     5  1  5
1     2  3.0  6.0     2  2  8
2     4  NaN  NaN     3  9  7

   key1    a    b  key2    c    d
0     1  2.0  5.0     5  1.0  5.0
1     2  3.0  6.0     2  2.0  8.0
2     3  4.0  7.0     3  NaN  NaN
3     4  NaN  NaN     3  9.0  7.0

   key1  a  b  key2  c  d
0     1  2  5     5  1  5
1     2  3  6     2  2  8

In [92]:
print(pd.merge(left = df1, right = df2, how = "outer", on = ["key1"]))

   key1    a    b  key2_x    c    d  key2_y
0     1  2.0  5.0     5.0  1.0  5.0     5.0
1     2  3.0  6.0     2.0  2.0  8.0     2.0
2     3  4.0  7.0     3.0  NaN  NaN     NaN
3     4  NaN  NaN     NaN  9.0  7.0     3.0

In [93]:
df1 = pd.DataFrame(data = {'key1' : [1, 2, 3], 'a' : [2, 3, 4], 'b' : [5, 6, 7]})
df2 = pd.DataFrame(data = {'key1' : [1, 2, 4], 'c' : [1, 2, 9], 'd' : [5, 8, 7]})
print(df1, "\n")
print(df2)

   key1  a  b
0     1  2  5
1     2  3  6
2     3  4  7

   key1  c  d
0     1  1  5
1     2  2  8
2     4  9  7

In [94]:
pd.merge(left = df1, right = df2, how = "outer")

   key1    a    b    c    d
0     1  2.0  5.0  1.0  5.0
1     2  3.0  6.0  2.0  8.0
2     3  4.0  7.0  NaN  NaN
3     4  NaN  NaN  9.0  7.0