In [2]:
import numpy as np
import pandas as pd

In [3]:
d = {'a' : [1, 2, 3, 4, 5], 'b' : [6, 7, 8, 9, np.nan], 'c' : [0, 1, 2, np.nan, np.nan], 'd' : [3, 4, np.nan, np.nan, np.nan], 'e': [5, np.nan, np.nan, np.nan, np.nan]}
print(d)
df = pd.DataFrame(data = d)
df

{'a': [1, 2, 3, 4, 5], 'b': [6, 7, 8, 9, nan], 'c': [0, 1, 2, nan, nan], 'd': [3, 4, nan, nan, nan], 'e': [5, nan, nan, nan, nan]}

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN
4  5  NaN  NaN  NaN  NaN

In [4]:
print(df.dropna(axis=0), "\n")
print(df.dropna(axis=1))

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0

   a
0  1
1  2
2  3
3  4
4  5

In [5]:
print(df.dropna(axis = 0, thresh = None), "\n")
print(df.dropna(axis = 0, thresh = 6), "\n")
print(df.dropna(axis = 0, thresh = 5), "\n")
print(df.dropna(axis = 0, thresh = 4), "\n")
print(df.dropna(axis = 0, thresh = 3), "\n")
print(df.dropna(axis = 0, thresh = 2), "\n")
print(df.dropna(axis = 0, thresh = 1), "\n")
# print(df.dropna(axis = 0, thresh = 0), "\n")

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0

Empty DataFrame
Columns: [a, b, c, d, e]
Index: []

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN
4  5  NaN  NaN  NaN  NaN

In [6]:
print(df)
df.fillna(10)

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN
4  5  NaN  NaN  NaN  NaN

   a     b     c     d     e
0  1   6.0   0.0   3.0   5.0
1  2   7.0   1.0   4.0  10.0
2  3   8.0   2.0  10.0  10.0
3  4   9.0  10.0  10.0  10.0
4  5  10.0  10.0  10.0  10.0

In [7]:
print(df)
df["e"].fillna(1)

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN
4  5  NaN  NaN  NaN  NaN

0    5.0
1    1.0
2    1.0
3    1.0
4    1.0
Name: e, dtype: float64

In [8]:
print(df)
df["e"].fillna(value = df["e"].mean())

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN
4  5  NaN  NaN  NaN  NaN

0    5.0
1    5.0
2    5.0
3    5.0
4    5.0
Name: e, dtype: float64

In [9]:
print(df.loc[1].fillna(value = df.loc[1].mean()))
print(df["c"].fillna(df["c"].mean()))
print(df.iloc[1].fillna(value = df.iloc[1].mean()))

a    2.0
b    7.0
c    1.0
d    4.0
e    3.5
Name: 1, dtype: float64
0    0.0
1    1.0
2    2.0
3    1.0
4    1.0
Name: c, dtype: float64
a    2.0
b    7.0
c    1.0
d    4.0
e    3.5
Name: 1, dtype: float64

In [10]:
print(df)
df.iloc[4].fillna(value = df.iloc[4].mean())

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN
4  5  NaN  NaN  NaN  NaN

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
Name: 4, dtype: float64

In [14]:
print(df)
print(df["d"].dropna())
print(df["b"].dropna())

   a    b    c    d    e
0  1  6.0  0.0  3.0  5.0
1  2  7.0  1.0  4.0  NaN
2  3  8.0  2.0  NaN  NaN
3  4  9.0  NaN  NaN  NaN
4  5  NaN  NaN  NaN  NaN
0    3.0
1    4.0
Name: d, dtype: float64
0    6.0
1    7.0
2    8.0
3    9.0
Name: b, dtype: float64