In [1]:
import numpy as np
import pandas as pd

In [2]:
x = ['a', 'b', 'c', 'd', 'e']
y = [1, 2, 3, 4, 5]
z = {1 : 'a', 2 : 'b', 3 : 'c', 4 : 'd', 5 : 'e'}

In [3]:
a = pd.Series(data=x)
print(a , "\n")
print(type(a))

0    a
1    b
2    c
3    d
4    e
dtype: object

<class 'pandas.core.series.Series'>

In [4]:
pd.Series(data=z)

1    a
2    b
3    c
4    d
5    e
dtype: object

In [5]:
a = pd.Series(x, y)
a

1    a
2    b
3    c
4    d
5    e
dtype: object

In [6]:
x = ['a', 'b', 'c', 'd', 'e']
x2 = ['a', 'b', 'c', 'd', 'e']
y = [1, 2, 3, 4, 5]
z = {1 : 'a', 2 : 'b', 3 : 'c', 4 : 'd', 5 : 'e'}

In [7]:
a = pd.Series(y, x)
b = pd.Series(y, x2)
print(a, end = "\n\n")
print(b)

a    1
b    2
c    3
d    4
e    5
dtype: int64

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
a + b

a     2
b     4
c     6
d     8
e    10
dtype: int64

In [9]:
x = ['a', 'b', 'c', 'd', 'e']
y = [1, 2, 3, 4, 5]
z = {1 : 'a', 2 : 'b', 3 : 'c', 4 : 'd', 5 : 'e'}

In [15]:
a = pd.Series(data = y, index = x)
b = pd.Series(data = y, index = x)
print(a + b, "\n", a - b, "\n", a * b)

a     4
b     8
c    12
d    16
e    20
dtype: int64
 a    0
b    0
c    0
d    0
e    0
dtype: int64
 a      4
b     16
c     36
d     64
e    100
dtype: int64

In [16]:
x = ['a', 'b', 'c', 'd', 'e']
x2 = ['a', 'f', 'c', 'l', 'e']
y = [2, 4, 6, 8, 10]
z = {1 : 'a', 2 : 'b', 3 : 'c', 4 : 'd', 5 : 'e'}
a = pd.Series(y, x)
b = pd.Series(y, x2)

In [17]:
a + b

a     4.0
b     NaN
c    12.0
d     NaN
e    20.0
f     NaN
l     NaN
dtype: float64

In [18]:
a["a" : "d"]

a    2
b    4
c    6
d    8
dtype: int64

In [19]:
x = [1, 3, 5, 7, 9]
y = ['s', 't', 'i', 'c', 'b']
z = {'r' : 23, 't' :  65, 'd' : 43, 'u' : 56, 'g' : 89}

In [20]:
a = pd.Series(data=x, index=y)
a

s    1
t    3
i    5
c    7
b    9
dtype: int64

In [21]:
b = pd.Series(z)
b

r    23
t    65
d    43
u    56
g    89
dtype: int64

In [22]:
for index, data in enumerate(a):
    print(index, data)

0 1
1 3
2 5
3 7
4 9

In [23]:
for i in y:
    print(a[i])

1
3
5
7
9